<h1>Board Game Library</h1>

<% if @board_games && @board_games.any? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Player Range</th>
        <th>Publisher</th>
      </tr>
    </thead>
    <tbody>
      <% @board_games.each do |game| %>
        <tr>
          <td><%= link_to game.title, board_game_path(game) %></td>
          <td><%= game.category %></td>
          <td><%= game.min_players %> - <%= game.max_players %></td>
          <td><%= game.publisher %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No board games available.</p>
<% end %>
